@import '../mixins/animations.scss';

.logoContainer {
  position: relative;
  z-index: 10;

  height: 86px;
  width: 86px;

  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    border-radius: 4px;
    padding-bottom: 4px;

    color: var(--primary);
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 50px;
  }

  .solidBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--black);
    border-radius: 4px;

    width: 100%;
    height: 100%;
  }

  .gradientBackground {
    position: absolute;
    top: calc(-1 * 4px);
    left: calc(-1 * 4px);
    z-index: -2;

    width: calc(100% + 4px * 2);
    height: calc(100% + 4px * 2);

    background: linear-gradient(
      90deg,
      var(--black),
      var(--primary),
      var(--black)
    );
    background-size: 200% 200%;
    background-position: 0 -50%;
    border-radius: 4px;

    @include moveGradient;
  }
}
