.btn {
  padding: 12px 22px;
  width: 100%;

  border: 0;
  border-radius: 4px;
  border: 1px solid var(--primary);
  background-color: var(--black);
  color: var(--primary);

  font-size: 18px;
  font-family: 'Big Shoulders Stencil Display', cursive;
  text-transform: uppercase;

  transition: all 0.4s;
  cursor: pointer;
  position: relative;
  z-index: 10;
  overflow: hidden;

  &.primary {
    border-width: 3px;
    font-size: 24px;
    font-weight: 600;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -150%;
    left: -10px;
    z-index: -1;

    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: var(--primary);
    transition: 0.4s;
    opacity: 1;
  }

  &:hover {
    background-color: var(--primary);
    color: var(--black);
    letter-spacing: 4px;

    &::before {
      transform: translateY(calc(-100% + 3px));
    }
  }
}
