.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px;

  .formIntro {
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 50px;
  }

  .inputWrapper {
    position: relative;
    padding: 15px 0 0;
    margin: 10px 0 30px;
  }

  .form__field {
    width: 100%;
    padding: 7px 0;

    border: 0;
    border-bottom: 2px solid var(--grey);
    outline: 0;

    font-family: inherit;
    font-size: 1.3rem;
    color: white;
    background: transparent;

    transition: border-color 0.5s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  textarea.form__field {
    max-width: calc(100vw - 60px);
    min-width: 100%;
    min-height: 2em;
    height: 2em;

    margin-bottom: 40px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--grey);
  }

  .form__field:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: var(--primary);
      font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--black), var(--primary));
    border-image-slice: 1;
  }

  /* reset input */
  .form__field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }

  button {
    max-width: 200px;
    align-self: center;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @media (min-width: 850px) {
    // display: grid;
    // grid-template-columns: repeat(2, minmax(350px, 500px));
    align-items: center;
    justify-content: center;
    gap: 20px;

    align-items: center;
    justify-content: space-evenly;

    margin-top: 64px;

    .linksContainer {
      margin-bottom: 30px;
    }

    .linksContainer .emailWrapper h1 {
      font-size: 40px;
    }

    .separator.first {
      margin-top: 0;
    }
  }
}

.separator {
  text-transform: uppercase;
  text-align: center;
  color: #b8b8b8;
  letter-spacing: 8px;
  font-weight: 500;

  margin: 50px 0 50px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .emailWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      color: var(--primary);
      font-family: 'Big Shoulders Stencil Display', cursive;
      font-size: 30px;
      font-weight: 400;
      text-align: center;

      margin-top: 12px;
    }
  }

  .socialMediaContainer {
    p {
      margin-bottom: 16px;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .iconWrapper {
      position: relative;
      display: flex;

      img {
        width: 48px;
      }

      .colorfulIcon {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover {
        .colorfulIcon {
          opacity: 1;
        }
      }
    }
  }
}
