.container {
  width: 100%;
  margin-top: 100px;
  padding: 0 30px;

  .content {
    padding: 50px 30px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: center;
    justify-items: center;

    border-top: 1px solid var(--primary);

    span {
      text-align: center;
    }
  }

  @media (min-width: 850px) {
    .content {
      grid-template-columns: repeat(3, 140px);
      justify-content: center;
    }
  }
}
