.container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 10;

  img {
    border-radius: 50%;
    width: max(50vw, 180px);
    height: max(50vw, 180px);

    max-width: 240px;
    max-height: 240px;

    margin-top: 40px;

    &.secondary {
      position: absolute;
      top: 0;
      z-index: -1;
      filter: blur(2px) opacity(0.5);
    }

    &.left {
      left: -80px;
    }

    &.right {
      right: -80px;
    }
  }

  @media (min-width: 850px) {
    img {
      border-radius: 100px;
      max-width: 300px;
      max-height: 300px;
      margin-top: 0;

      &.left {
        top: -50px;
      }

      &.right {
        top: 50px;
      }
    }
  }
}
