.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 30px;
  width: 100%;
}

.projectWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 50px;

  img {
    width: 100%;
    max-width: 350px;
    margin-top: 30px;
    border-radius: 10px;

    &.desktopOnly {
      display: none;
    }
  }

  .projectDetails {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      color: var(--primary);
      font-family: 'Big Shoulders Stencil Display', cursive;
      font-size: 32px;
      font-weight: 400;
      text-align: center;
      margin-top: 30px;
    }

    p {
      margin-top: 20px;
      line-height: 1.5em;
      text-indent: 30px;
    }
  }

  &.hidden {
    display: none;
  }

  @media (min-width: 850px) {
    img.desktopOnly {
      display: block;
    }
  }
}

.buttonsWrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(130px, 200px));
  gap: 30px;

  margin-top: 40px;

  button {
    max-width: 200px;
  }
}
