.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;

  .emptySpace {
    display: none;
  }

  @media (min-width: 850px) {
    grid-template-columns: 1fr 1fr;

    .emptySpace {
      display: block;
      order: 1;
    }
  }
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;

  h1 {
    color: var(--primary);
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 30px;
  }

  .line {
    flex: 1;
    height: 1px;
    margin-left: 20px;
    background-color: var(--primary);
  }
}
