.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black);

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1440px;
  }
}
