.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background-color: var(--black);

  h1 {
    color: var(--primary);
  }
}
