
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #1d3029;
  --color-primary-dark: #6d9284;
}

.noise-bg {
  background-image: url("/noise.svg");
  background-size: 300%;
  background-position: center;
  background-repeat: repeat;
  mix-blend-mode: color-burn;
}