@mixin moveGradient {
  animation: moveGradientAnim 8s ease-in-out infinite;
}

@keyframes moveGradientAnim {
  50% {
    background-position: 100% 50%;
  }
}

@mixin scrollTextToLeft {
  animation: scrollText 8s linear infinite;
}

@mixin scrollTextToRight {
  animation: scrollText 8s linear infinite reverse;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
